/*reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*body: used to center the complete application on the screen, display: flex -> activates Flexbox layout, align-items: center -> vertically centers the application, justify-content: center -> horizontally centers the application*/
body{
	display: flex;
	align-items: center;
	justify-content: center;
}
/*main container of the application: max-width -> sets a maximum width for the container, margin -> adds space around the container, background -> sets a background color, padding -> adds space inside the container, border-radius -> rounds the corners of the container, box-shadow -> adds a shadow effect to create a card-like appearance*/
.app-container{
	position: relative;
	max-width: 500px;
	margin: 40px;
	background: #97b2ce;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
/*header section: text-align: center -> centers heading text, margin-bottom: 55px -> adds space below the header*/
.header{
	text-align: center;
	margin-bottom: 55px;
}
/*expense form layout: display: flex -> keeps input fields and button in one row, gap -> creates space between them, margin-bottom -> adds space below the form*/
.expense-form{
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}
/*i/p fields styling: flex: 1 -> i/p takes available space equally, padding -> adds space inside the input field, border-radius -> rounds the corners of the input field*/
.expense-form input {
	flex: 1;
	padding: 8px;
	border-radius: 19px;
}
/*add expense btn styling: cursor: pointer -> shows hand cursor when hovered, padding -> adds space inside the btn, border-radius -> rounds the corners of the btn, background-color -> sets the background color of the btn*/
.expense-form button {
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 19px;
	background-color: green;
}
.expense-form button:hover {
	background-color: #45a049;
}
/*expense list container: flex-direction: column -> expenses shown vertically, gap -> creates space between them*/
.expense-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
/*each expense item card: display: flex -> activates Flexbox layout, justify-content: space-between -> keeps title, amount, and delete button properly spaced, align-items: center -> vertically centers the content, background: white -> sets the background color, padding -> adds space inside the card, border-radius -> rounds the corners of the card*/
.expense-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	padding: 10px;
	border-radius: 8px;
}
/*shown when no any expense exists*/
.no-expense {
	text-align: center;
	color: #252424;
}
/*fore mobile*/
/*when screen width is less than 600px then app container is adjusted*/
@media(max-width: 600px){
	.app-container {
		max-width: 100%;
		padding: 15px;
	}

	.expense-form {
		flex-direction: column;
	}

	.expense-form button {
		width: 100%;
	}
}


/*Login page*/
/*login page container: text-align: center -> centers the content, margin-top: 80px -> adds space above the container*/
h2{
	margin-bottom: 30px;
	padding: 15px;
}
.login-container {
	text-align: center;
	margin-top: 80px;
	background-color: #97b2ce;
	border-radius: 9px;

}
/*i/p fields styling: display: block -> makes input fields take full width, margin -> adds space around the input fields, padding -> adds space inside the input fields, width -> sets a fixed width for the input fields, border-radius -> rounds the corners of the input fields, border -> adds a border around the input fields*/
.login-input {
	display: block;
	margin: 10px auto;
	padding: 10px;
	width: 250px;
	border-radius: 15px;
	border: 1px solid gray;
}
/*login button styling: margin -> adds space around the button, padding -> adds space inside the button, cursor: pointer -> shows hand cursor when hovered, border-radius -> rounds the corners of the button, background -> sets the background color of the button, color -> sets the text color of the button, border -> removes default border*/
.login-btn {
	margin: 10px;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 16px;
	background: green;
	color: white;
	border: none;
}
/*login button hover effect: background -> changes background color when hovered*/
.login-btn:hover {
	background: #45a049;
}

/*logout button styling: position: absolute -> positions the button relative to the nearest positioned ancestor, top and right -> positions the button at the top-right corner of the container, background -> sets the background color of the button, color -> sets the text color of the button, border -> removes default border, padding -> adds space inside the button, border-radius -> rounds the corners of the button, cursor: pointer -> shows hand cursor when hovered*/
.logout-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background: red;
	color: white;
	border: none;
	padding: 8px 12px;
	border-radius: 16px;
	cursor: pointer;
}
/*logout button hover effect: background -> changes background color when hovered*/
.logout-btn:hover {
	background: darkred;
}